<div class="container content main-container">
  <div class="row justify-content-around ">
    <div class="col-2 category inner-container">
      <%= render 'partials/categories' %>
    </div>
    <div class="col-7 task task-home inner-container">
      <%= render 'partials/tasks' %>
    </div>
    <div class="col-2 due inner-container">
      <h3>Due Today</h3>
      <%= render 'partials/tasks_today' %>
    </div>
  </div>
</div>


