<%= render 'partials/navbar' %>
<div class="container content">
  <div class="row">
    <div class="col-2 category">
      <%= render 'partials/categories' %>
    </div>
    <div class="col-8 task task-home">
      <%= render 'partials/tasks' %>
    </div>
    <div class="col-2 due">
      <h3>Due Today</h3>
      <%= render 'partials/tasks_today' %>
    </div>
  </div>
</div>


