<div class="mb-3 d-flex justify-content-center">
    <button type="button" class="button">
        <%= link_to "Add Task", new_task_path %>
    </button>
  </div>
<div class="container content">

  <div class="row">
    <div class="col-4 category">
      <%= render 'partials/categories' %>
    </div>
    <div class="col-8">
      <h3>Tasks due for today:</h3>
    </div>
  </div>
</div>


