<div>
    <h3>All Tasks</h3>
</div>

<div class="d-flex flex-wrap gap-1 mx-auto justify-content-center">
    <% if @tasks.empty? %>
        <p style="text-align: center; width: 100%">You do not have any task, add some by clicking the 'Add Task' button</p>
    <% end %>

    <% @tasks.each do |task| %>
        <div>
            <a href="/tasks/<%= task.id %>" class="each-task d-flex flex-column">
                <% if task.finish_before %>
                    <% if task.finish_before < Date.today %>
                        <p style="font-size: .5rem;color: var(--primary);">Past Due Date: <%= task.finish_before.strftime('%b / %d / %Y') %>
                    <% else %>
                        <p style="font-size: .5rem;color: var(--secondary);">Due Date: <%= task.finish_before.strftime('%b / %d / %Y') %></p>
                    <% end %>
                <% else %>
                    <p style="font-size: .5rem;color: var(--secondary);">Due Date: None</p>
                <% end %>
                
                <div style="height: 100%; overflow: hidden;">
                    <p class="task-body"><%= task.body%></p>
                </div>
            </a>
        </div>
    <% end %>
</div>