<div class="container content content-lgn">
  <h3 class="mb-4">Forgot your password?</h3>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mb-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
    </div>

    <div class="actions d-flex justify-content-center">
      <%= f.submit "Reset password", class: "button action-button"  %>
    </div>
  <% end %>
</div>
