/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 :root {
   --primary: #ee3e38;
   --primary-light: #FF8787;
   --secondary: #293462;
   --light: #fefefe;
 }
body {
   background-color: var(--secondary);
}

header {
    background-color: var(--primary);
    max-height: 100px;
    padding-left: 80px;
    padding-right: 100px;
 }

 a {
    text-decoration: none;

 }

.logo {
    max-width: 100%;
    height: 80px;
 }

 .nav-link {
    font-size: larger;
    color: #8d021f;
    transition: transform .3s;
 }
 .nav-link:hover {
    color: #8d021f;
    transform: scale(1.2)
 }

 .nav-header {
    gap: 20px
 }

 .content {
    background-color: var(--light);
 }

 
 .content-lgn {
   max-width: 500px;
   padding: 30px;
   border-radius: 10px;
 }

 .button {
   background-color: var(--secondary);
   border: 2px solid var(--secondary);
   font-weight: 500;
   height: 30px;
   border-radius: 3px;
   transition: background-color .3s, border .3s;
 }

 .button:hover {
   background-color: var(--primary-light);
   border: 2px solid var(--primary-light);
 }

 .button a {
   color: var(--primary-light);
 }

 .button a:hover {
   color: var(--secondary);
 }
 
 .action-button {
   color: var(--light);
   width: 80%;
   min-width: 100px;
   background-color: var(--primary);
   border: none;
   justify-self: center;
 }
