/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 :root {
   --primary: #ee3e38;
   --primary-light: #FF8787;
   --secondary: #293462;
   --light: #fefefe;
   --grey: #EFEFEF;
 }
body {
   background-color: var(--secondary);
   font-family: 'Poppins', sans-serif;
}

header {
    background-color: var(--primary);
    max-height: 100px;
    padding-left: 80px;
    padding-right: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
 }

h3 {
   color: var(--secondary);
}

p {
  margin-bottom: 0;
}

a {
text-decoration: none;
font-size: .9rem;
color: var(--primary-light)
}

a:hover {
  color: var(--secondary)
  }

ul {
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

select {
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  padding: 5px;
  cursor: pointer;
  font-size: .8rem;
}

.logo {
    max-width: 100%;
    height: 80px;
 }

 .nav-link {
    font-size: larger;
    color: #8d021f;
    transition: transform .3s;
 }
 .nav-link:hover {
    transform: scale(1.2)
 }

 .nav-header {
    gap: 20px
 }

 .content {
    background-color: var(--light);
    padding: 20px 30px;
    border-radius: 10px;
 }

 
 .content-lgn {
   max-width: 500px;
 }
 
 .action-button {
   color: var(--light);
   width: 80%;
   min-width: 100px;
   background-color: var(--primary);
   border: none;
   justify-self: center;
 }

 /*flash*/
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

/* categories */

.category a {
  display: inline-block;
  width: 100%;
  color: var(--grey);
  border-radius: 3px;
  padding: 3px 5px;
  margin-bottom: 3px;
  border: 1px solid var(--primary);
  transition: background-color .2s;
  background-color: var(--primary);
  word-wrap: break-word;
}

.category a:hover, .task a:hover {
  color: var(--secondary);
  background-color: var(--light);
  border: 1px solid var(--primary)
}
/* tasks */

.task a {
  display: inline-block;
  color: var(--secondary);
  padding: 3px 5px;
  margin-bottom: 3px;
}

.category h3, .task h3, .due h3{
  text-align: center;
}

.plus-icon {
  font-size: 1rem;
 }

 
 .button {
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  font-weight: 500;
  border-radius: 3px;
  transition: background-color .3s, border .3s;
}

.button:hover {
  background-color: var(--primary-light);
  border: 2px solid var(--primary-light);
}

.button a {
  color: var(--primary-light);
}

.button a:hover {
  color: var(--secondary);
}

.category .button, .task .button {
  width: auto;
  color: var(--primary);
  background-color: var(--light);
  border: 2px solid var(--primary-light);
}

.task a.button:hover {
  border: 2px solid var(--primary-light);
}

a.each-task {
  width: 150px;
  height: 100px;
  padding: 10px;
  background-color: var(--grey);
  border: 1px solid var(--grey);
  border-radius: 3px;
  transition: background-color .2s;
}

a.each-task:hover {
  cursor: pointer;
  border: 1px solid var(--grey);
  background-color: var(--light);
}

a.each-task {
  color: var(--primary);
}

a.each-task>p {
  margin-bottom: 10px;
}

.task-body {
  height: 100%;
  overflow: scroll;
  word-wrap: break-word;
  -ms-overflow-style: none;  /* hide overflow scrollbar IE and Edge */
  scrollbar-width: none;  /* hide overflow scrollbar Firefox */
}

/* hide overflow scrollbar */
.task-body::-webkit-scrollbar {
  display: none;
}

.due a {
  background-color: var(--grey);
  color: var(--primary);
  padding: 5px;
  border: 1px solid var(--grey)
}

#category-add-btn:hover {
  border: 2px solid var(--primary-light);
}